{% extends "entidades/index.html" %}

{% block titulo %}
<h1 class="mb-5">Curso</h1>
{% endblock titulo %}

{% block contenido %}

<table>
    <tr>
        <td width="200"><h2>Cursos</h2></td>
        <td>
            <a
            href="{% url 'cursoForm' %}"
            class="btn btn-primary btn-sm"
            ><i class="fa fa-plus fa-lg" title="Crear"> </i>
            </a>
        </td>        
    </tr>
</table>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Titulo</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for c in curso %}
        <tr>
            <td>{{ c.id }}</td>
            <td>{{ c.titulo }}</td>
            <td>{{ c.descripcion }}</td>
            <td>{{ c.precio }}</td>
            <td>
                <a
                  href="{% url 'cursoUpdate' c.id %}"
                  class="btn btn-primary"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                  ><i class="fa fa-edit fa-sm" title="Edit Record"></i>
                </a>
                <a
                  href="{% url 'cursoDelete' c.id %}"
                  class="btn btn-danger"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                  ><i class="fa fa-trash fa-sm" title="Delete Record"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock contenido %}
